
.tools_expert {
    padding: 20px 0px 0px 0px; }
    .tools_expert .skill_main .skill_item {
      margin-bottom: 18px; }
      .tools_expert .skill_main .skill_item:last-child {
        margin-bottom: 0px; }
      .tools_expert .skill_main .skill_item h4 {
        text-align: none;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: #222222;
        margin-bottom: 15px; }
      .tools_expert .skill_main .skill_item .progress_br {
        border: 1px solid #eeeeee;
        padding: 5px;
        border-radius: 10px; }
      .tools_expert .skill_main .skill_item .progress {
        height: 10px;
        border-radius: 10px;
        background: #e8e8e8; }
        .tools_expert .skill_main .skill_item .progress .progress-bar {
          width: 0%;
          transition: width .6s ease;
          height: 10px;
          border-radius: 5px;
          vertical-align: middle;
          align-self: center;
          background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
          background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
          background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); }
  
  